@page
@model PasswordsModel
@{
    ViewData["Title"] = "Список аккаунтов " + Model.ContextUser;
}
<h2>@ViewData["Title"]</h2>

<p><a asp-page="Add">Добавить аккаунт</a></p>
<table class="table">
    <thead>
        <tr><th>Имя сервиса</th><th>Логин</th><th>Пароль</th></tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@account.ServiceName</td>
                <td>@account.Login</td>
                <td>@account.Password</td>
                <td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Действия<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="list-group-item">
                                <form method="post">
                                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@account.Id">Изменить</a>
                                </form>
                            </li>
                            <li class="list-group-item">
                                <form method="post">
                                    <button class="btn btn-primary" type="submit" asp-page-handler="delete" asp-route-id="@account.Id">Удалить </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
        <!--

                        <form method="post">
                    <a asp-page="./Edit" asp-route-id="">Изменить</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="">
                        Удалить
                    </button>
                </form>-->
    </tbody>
</table>