@page
@model PasswordsModel
@{
    ViewData["Title"] = "Список аккаунтов " + Model.ContextUser;
}
<h2>@ViewData["Title"]</h2>

<p><a asp-page="Add">Добавить аккаунт</a></p>
<table class="table">
    <thead>
        <tr><th>Имя сервиса</th><th>Логин</th><th>Пароль</th></tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@account.ServiceName</td>
                <td>@account.Login</td>
                <td>@account.Password</td>
                <td>
                    <form method="post">
                        <a asp-page="./Edit" asp-route-id="@account.Id">Изменить</a>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@account.Id">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>